body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fdf6e3;
}

.invitacion {
  max-width: 480px;
  width: 70%;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

@media (max-width: 480px) {
  .invitacion {
    padding: 1rem;
  }

  .invitacion h2 {
    font-size: 1.5rem;
  }
}

.invitacion {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.5s ease;
}

.invitacion.animada {
  opacity: 1;
  transform: scale(1);
}
.boton-direccion {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #0088cc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.boton-direccion:hover {
  background-color: #006699;
}

.mapa {
  justify-content: center;

}